:root {
    --header-text-color: #FFFFFF;
    --primary-btn-color: #FFFFFF;
    --secondary-btn-color: #303030;
    --primary-title-color: #FFFFFF;
    --secondary-title-color: #303030;
    --primary-text-color: #9DA4BD;
    --secondary-text-color: #555555;
    --accent-color: #FF6C00;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    font-family: Raleway, sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.title {
        font-family: 'Raleway',
        sans-serif;
        font-size: 42px;
        line-height: calc(49 / 42);
        letter-spacing: 0.05em;
}

/*------------------- HEADER --------------------*/

.header {
    background-color: grey;
}

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    
    color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.current {
  color: var(--accent-color);  
}

.header-link-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    
    color: var(--header-text-color);
}
.header-link-tel:hover,
.header-link-tel:focus {
    color: var(--accent-color);
}

.header-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    
    color: var(--primary-btn-color);
    background-color: rgba(25, 28, 38, 0.2);
}

.header-btn:hover,
.header-btn:focus{
background-color: var(--accent-color);
}


/*-------------------- HERO ------------------------*/
.hero {
    background-color: gray;
}

.hero-link {
    font-family: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    
    color: #303030;
}
.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {
font-family: 'Raleway', sans-serif;
font-size: 72px;
line-height: 1.18;
letter-spacing: 0.05em;

color: var(--primary-title-color);
}

.hero-after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color);
}

/* -----------------ABOUT------------------ */
.about-pre-title {
    color: var(--secondary-title-color);
}

.about-title {
    color: var(--secondary-title-color);
}

.about-after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

}

.about-text {
font-size: 14px;
line-height: calc(26 / 14);
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.about-btn {
    font-family: inerhit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--secondary-btn-color);
}
.about-btn:hover,
.about-btn:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/* -------------------------PRICES---------------------------- */

.prices {
    background-color: gray;
}
.prices-pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.prices-title {
    color: var(--header-text-color);
}

.prices-text {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.prices-btn {
    font-family: inerhit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: rgba(25, 28, 38, 0.2);
    color: var(--primary-btn-color);
}

.prices-btn:hover,
.prices-btn:hover {
    background-color: var(--accent-color);
}

/* -----------------------------REASONS -----------------------*/
.reasons-item-count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--secondary-title-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color:var(--secondary-title-color);
}

.reasons-pre-title {
    color: var(--secondary-title-color);
}
.reasons-title {
    color: var(--secondary-title-color);
}
.reasons-after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* -----------------------------MASTERS -----------------------*/
.masters-pre-title {
    color: var(--secondary-title-color);
}

.masters-title {
    color: var(--secondary-title-color);
}
.masters-name {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
}

.masters-skill {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--accent-color);
}

/* -----------------------------GALLERY -----------------------*/

.gallery-pre-title {
    color: var(--secondary-title-color);
}

/* -----------------------------APPOINTMENT -----------------------*/
.appointment {
    background-color: gray;
}
.appointment-title {
    color: var(--primary-title-color);
}

/* -----------------------------CONTACTS-----------------------*/

.contacts {
    background-color: gray;
}
.contacts-title {
    color: var(--header-text-color);
}
address {
    font-style: normal;
}
.contacts-link {
    color: var(--primary-text-color);
}
.contacts-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.contacts-timetable {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* -----------------------------FOOTER-----------------------*/

.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color);
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: var(--secondary-title-color);
}