:root {
    --header-text-color: #FFFFFF;
    --primary-btn-color: #FFFFFF;
    --secondary-btn-color: #303030;
    --primary-title-color: #FFFFFF;
    --secondary-title-color: #303030;
    --primary-text-color: #9DA4BD;
    --secondary-text-color: #555555;
    --accent-color: #FF6C00;
}

body {
    font-family: 'Open Sans', sans-serif;
}
/* * {
    box-sizing: border-box;
} */

h1,
h2 {
    font-family: Raleway, sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.title {
        font-family: 'Raleway',
        sans-serif;
        font-size: 42px;
        line-height: calc(49 / 42);
        letter-spacing: 0.05em;
}

.btn {
        font-family: inherit;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;

    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    min-width: 160px;
    height: 40px;
}
/*------------------- HEADER --------------------*/

.header {
    background-color: green;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 70px;
}
.header-list {
    display: flex;
}
.header-item + .header-item  {
margin-left: 40px;
}
.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--header-text-color);
}


.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.current {
  color: var(--accent-color);  
}
.header-contact {
    margin-left: auto;
}
.header-link-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    
    color: var(--header-text-color);
}
.header-link-tel:hover,
.header-link-tel:focus {
    color: var(--accent-color);
}

.header-btn {
    color: var(--primary-btn-color);
    margin-left: 40px;
}

.header-btn:hover,
.header-btn:focus{
background-color: var(--accent-color);
}


/*-------------------- HERO ------------------------*/
.hero {
  
}
.hero-container {
    display: flex;
}
.hero-list {
    width: 90px;
}

.hero-right {
background-color: gray;
flex-grow: 1;
padding: 271px 0 199px 99px;
}
.hero-link {
    font-family: inherit;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    
    color: #303030;
}
.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

.hero-pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.hero-title {
font-family: 'Raleway', sans-serif;
font-size: 72px;
line-height: 1.18;
letter-spacing: 0.05em;

color: var(--primary-title-color);
margin-bottom: 20px;
}

.hero-after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    
    color: var(--secondary-text-color);
}

/* -----------------ABOUT------------------ */
.about {
    padding-top: 163px;
    padding-bottom: 88px;
}
.about-container {
    display: flex;
}
.about-list {
    display: flex;
}

.about-item + .about-item {
    margin-left: 30px;
}

.about-right {
    margin-left: 64px;
    margin-right: auto;
}
.about-pre-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}

.about-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}

.about-after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 20px;

}

.about-text {
font-size: 14px;
line-height: calc(26 / 14);
letter-spacing: 0.02em;
color: var(--secondary-text-color);
margin-bottom: 38px;
}

.about-btn {
    color: var(--secondary-btn-color);
}

.about-btn:hover,
.about-btn:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/* -------------------------PRICES---------------------------- */

.prices {
    background-color: gray;
    padding-top: 130px;
    padding-bottom: 130px;
}

.prices-pre-title {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.prices-title {
    color: var(--header-text-color);
    margin-bottom: 44px;
}
.prices-blocks {
    display: flex;
}

.prices-text {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.prices-btn {
    color: var(--primary-btn-color);
}

.prices-btn:hover,
.prices-btn:hover {
    background-color: var(--accent-color);
}

/* -----------------------------REASONS -----------------------*/
.reasons {
    padding-top: 143px;
padding-bottom: 137px;
}
.reasons-item-count {
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--secondary-title-color);
}

.reasons-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color:var(--secondary-title-color);
}

.reasons-pre-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}
.reasons-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}
.reasons-after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

/* -----------------------------MASTERS -----------------------*/
.masters {
    padding-top: 130px;
    padding-bottom: 130px;
}

.masters-pre-title {
    color: var(--secondary-title-color);
    margin-bottom: 20px;
}

.masters-title {
    color: var(--secondary-title-color);
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}


.masters-item {
   width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
.masters-item-content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.masters-name {
    font-weight: 400;
    font-size: 18px;
    line-height: calc(25 / 18);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);

    margin-bottom: 8px;
}

.masters-skill {
    font-size: 14px;
    line-height: calc(19 / 14);
    text-align: center;
    letter-spacing: 0.02em;
    
    color: var(--accent-color);
}

/* -----------------------------GALLERY -----------------------*/
.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
}

.gallery-pre-title {
    color: var(--secondary-title-color);
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}



.gallery-item {
    width: 270px;
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
/* -----------------------------APPOINTMENT -----------------------*/
.appointment {
    background-color: gray;
    padding-top: 130px;
    padding-bottom: 193px;
}
.appointment-title {
    color: var(--primary-title-color);
}

/* -----------------------------CONTACTS-----------------------*/

.contacts {
    background-color: gray;
    padding-top: 130px;
    padding-bottom: 130px;
}
.contacts-title {
    color: var(--header-text-color);
    margin-bottom: 44px;
}
address {
    font-style: normal;
}
.contacts-item:not(:last-child) {
    margin-bottom: 20px;
}
.contacts-link {
    color: var(--primary-text-color);
}
.contacts-text {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-top: 70px;
    margin-bottom: 20px;
}
.contacts-timetable {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* -----------------------------FOOTER-----------------------*/

.footer {
padding-top: 57px;
padding-bottom: 55px;
background-color: green;
}

.footer-container {
    display: flex;
    justify-content: space-between;

}

.footer-copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: var(--primary-text-color);
}
.footer-item + .footer-item {
margin-left: 40px;
}
.footer-list {
    display: flex;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);
    letter-spacing: 0.2em;
    color: var(--secondary-title-color);
}